<nav>
  <ul>
    <li><a href="/">Inicio</a></li>
    <li><a href="/cart">Carrito</a></li>
    <% if (user) { %>
      <li><a href="/logout">Cerrar Sesión</a></li>
    <% } else { %>
      <li><a href="/login">Iniciar Sesión</a></li>
      <li><a href="/register">Registrarse</a></li>
    <% } %>
  </ul>
</nav>
