<nav class="navbar">
  <ul class="navbar-list">
    <li class="navbar-item"><a href="/" class="navbar-link">Inicio</a></li>
    <li class="navbar-item"><a href="/cart" class="navbar-link">Carrito (<%= locals.cart ? locals.cart.length : 0 %>)</a></li>
    <% if (locals.user) { %>
      <li class="navbar-item"><a href="/favorites" class="navbar-link">Favoritos (<%= locals.user.favorites.length %>)</a></li>
      <li class="navbar-item"><a href="/logout" class="navbar-link">Cerrar Sesión</a></li>
    <% } else { %>
      <li class="navbar-item"><a href="/login" class="navbar-link">Iniciar Sesión</a></li>
      <li class="navbar-item"><a href="/register" class="navbar-link">Registrarse</a></li>
    <% } %>
  </ul>
</nav>
